<div id="repositories-wrapper">
#{if repositories != null}
	<div class="row-fluid">
	    <div class="span12">
	        <h1 class="center page-header">Results</h1>
	        <div id="repositories" class="center well">
	           #{list items:repositories, as: 'repository'}
	               <div class="repository">
	                   <a href="@{Application.info(repository.name, repository.owner)}">${repository.name}</a>
	                   <span class="owner hide">${repository.owner}</span>
	                </div>
	           #{/list}
	           #{if repositories?.empty}
	               <p>No result</p>
	           #{/if}
	        </div>
	    </div>
	</div> 
	
	<div class="row-fluid">   
	    <div class="pager">
	       #{if repositories != null}
	           #{if page > 1}
	           <a href="@{Application.search(name, page-1)}">Previous</a>
	           #{/if}
	           
	           #{ifnot repositories.empty}
	           <a href="@{Application.search(name, page+1)}">Next</a>
	           #{/ifnot}
	        #{/if}
	    </div>
	</div>
#{/if}
</div>